/* Varibles */
:root {
    /* Fonts */
    --lobster: "Lobster";
    --sansSerif: "sans-serif";
    /* Colors */
}


h1 {
    font-family: var(--lobster), var(--sansSerif);
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
}

body {
    background-image: url("../imgs/Background.png");
    color: whitesmoke;
}

/* Navbar */

nav {
    background-color: rgb(32, 32, 32);
}

#headshot {
    height: 5%;
    width: 5%;
    border-radius: 50%;
}

.nav-link {
    background-color: black;
    color: whitesmoke;
}